.hero__title {
  max-width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  color: #000000;
  margin: 0 auto 151px auto;
}

@media screen and (max-width: 900px) {
  .hero__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 800px) {
  .hero__title {
    margin: 0 auto 314px auto;
  }
}

@media screen and (max-width: 500px) {
  .hero__title {
    max-width: 292px;
    font-size: 29px;
    line-height: 37px;
    margin: 0 auto 212px auto;
    letter-spacing: -0.04em;
  }
}
