.account__link {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;  
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease;
}

.account__link:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

@media screen and (max-width: 500px) {
  .account__link {
    font-size: 12px;
    line-height: 15px;
  }
}
