.content__authorization {
  padding: 70px 30px;
}

@media screen and (max-width: 800px) {
  .content__authorization {
    padding: 232px 30px 232px 30px;
  }
}

@media screen and (max-width: 500px) {
  .content__authorization {
    padding: 56px 30px 30px 30px;
  }
}
