.content__account {
  padding: 0px 30px;
  margin: 74px 0 70px 0;
}

@media screen and (max-width: 800px) {
  .content__account {
    margin: 236px 0 236px 0;
    padding: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .content__account {
    margin: 0;
    padding: 70px 30px 40px 30px;
  }
}
